{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8 text-center">
        <h1>
            {{titulo}}
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab voluptas amet, reprehenderit, asperiores saepe quas veritatis culpa, minima officia cupiditate incidunt dolor pariatur neque veniam. Cumque exercitationem accusamus voluptas, perspiciatis dolorem ducimus laudantium accusantium ut! Ex eligendi placeat non amet eum, quisquam obcaecati debitis esse sapiente. Doloremque obcaecati, pariatur consequatur assumenda aspernatur necessitatibus unde, voluptatum qui architecto, sit distinctio.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/carro.jpg" class="img-thumbnail" >
    </div>

</div>

{{> footer}}